.line {
border: solid 1.5px black;
width: 80%;
margin-left:auto;
margin-right:auto;
}

.landing-page-div {
  .centered-logo {
    padding-top: 20%;
    padding-left: 43%;
    padding-right: 43%;
  }


  .centered-logo img {
    border: 5px solid white;
    background: rgba(255, 255, 255, 0.7);
    position: relative;

  }

  .content{
  }

  #boxes_holder > div.partial_button {
  display: inline-block;
  padding: 30px;
  width: 150px;
  height: 150px;
  margin-left: 40px;
  margin-right: 40px;
  background: lightgrey;
  }

  .toggle_button{
  text-align: center;
  color: rgb(43, 148, 182);
  font-size: 120%;
  margin-bottom: 50px;
  }

  .toggle_button:hover{
  color: lightblue;
  }

  #index_partial {
  display: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 50px;
  margin-bottom: 50px;
  }

  .box {
  display: inline-block;
  padding: 30px;
  width: 150px;
  height: 150px;
  margin-left: 40px;
  margin-right: 40px;
  background: white;
  }

  #boxes_holder{
  text-align:center;
  margin-bottom: 40px;
  }

  .box:hover{
  background:rgba(139, 212, 207, 1);
  }

  #tag_line{
  text-align: center;
  margin-top: 30px;
  }
}
